* {
    margin: 0;
}
.container{
    display: grid;
    grid-template:"server-list chat-list main-inbox members-list" 100%/
    60px 200px 1fr 200px;
    height: 1000px;
}

.server-list{
    grid-area: server-list;
    background-color: aqua;
}

.chat-list{
    grid-area: chat-list;
    background-color: blue;
}
.main-inbox{
    grid-area: main-inbox;
    background-color: brown;
}
.members-list{
    grid-area: members-list;
    background-color: coral;
}

@media screen and (max-width: 800px) {
    .container{
        display: grid;
        grid-template:"server-list chat-list main-inbox members-list" 100%/
        60px 200px 1fr 200px;
        height: 1000px;
    }
    
}

@media screen and (max-width: 500px) {
    .container{
        display: grid;
        grid-template:"server-list chat-list members-list" 100%/
        60px 200px 200px;
        height: 1000px;
    }
    .main-inbox {
        display: none;
    }
}