.container {
  display: grid;
  grid-template:
    "navBar navBar navBar" 1fr
    "left-side main right-side" 10fr /
    1fr 5fr 2fr;
}

.navBar {
  grid-area: navBar;
  background: #000;
}
.left-side {
  grid-area: left-side;
  background: rgb(68, 255, 10);
}
.main {
  grid-area: main;
  background: rgb(13, 34, 221);
}
.right-side {
  grid-area: right-side;
  background: rgb(185, 114, 114);
}