.container {
  height: 1000px; ;
  display: grid;
  grid-template:
    "navBar navBar navBar" 1fr
    "left-side main right-side" 20fr /
    1fr 5fr 2fr;
}

.navBar {
  grid-area: navBar;
  background: #000;

}
.left-side {
  margin: 10px;
  grid-area: left-side;
  background: rgb(68, 255, 10);
}
.main {
  margin: 10px;
  grid-area: main;
  background: rgb(13, 34, 221);
}
.right-side {
  margin: 10px;
  grid-area: right-side;
  background: rgb(185, 114, 114);
}
*{
  margin: 0px;
  
}

@media screen and (max-width:300px) {
  .container{ 
    height: 1000px;
    display: grid;
    grid-template:
      "navBar" 1fr
      "left-side" 100px
      "main" 20fr/
       250px;
       
       
  }
  .right-side {
    margin: 10px;
    grid-area: right-side;
    background: rgb(185, 114, 114);
    display: none;
  }
}